<section id="wholesale" class="bg-dark">
<!-- <aside class="bg-dark"> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Want to Become a TimeB Inc. Vendor instead?</h2>
                <h2 class="section-heading">We Buy Wholesale!</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="call-to-action">
            <p class="text-faded-alt">Not ready to work with our complete brand management service? Prefer to stay away from B2C?</p>
            <p class="text-faded-alt">No problem! we also buy wholesale! Consider selling your products to TimeB Inc. to see if you will qualify to become one of our vendors.</p>
            <p class="text-faded-alt">More than ever, customers expect brands to make themselves available through these online channels and small to medium sized brands that does not make themselves available in these marketplaces are destined to suffer.</p>
            <p class="text-faded-alt">As a Top Level online marketplace retailer, we leverage our own strategies and principles to maximize sales across our private label and wholesale products.</p>
            <p class="text-faded-alt">We are always seeking top-tier brands to join our portfolio of product lines.</p>
            <p class="text-faded-alt">These are the types of products and suppliers that we are looking for:</p>
            <ul class="text-faded-alt list-unstyled">
                <li>Supplier is the brand owner or original manufacturer of the product</li>
                <li>Amazon Marketplace Exclusivity (only other seller can be you, the brand or manufacturer)</li>
                <li>Ideally already barcoded with unique UPC</li>
                <li>30-45 day payment terms</li>
                <li>Individually packaged products, organized by master case or carton</li>
                <li>No Minimum Orders (besides case pack quantities) or Monthly Minimums</li>
                <li>Supplier Accepts Credit Card w/ no additional fee (American Express)</li>
            </ul>
            <p class="text-faded-alt">If your brand meets all these requirements above, please don't hesitate to click <b class="text-primary">"READY TO START WHOLESALE"</b> now!
</p>
            <a href="#contact" class="btn btn-default btn-xl page-scroll">Ready to start Wholesale?</a>
        </div>
    </div>
<!-- </aside> -->
</section>
