<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Amazon, Walmart, and eBay are thriving, and not just thriving, they are DOMINATING the the retail market.</p>
                <img src="img/marketplace.png">
                <p class="text-faded">More than 55% of all consumers begin their first product search on Amazon, more than 59% of people in USA has Amazon Prime Memebership, and over 45% of all ecommerce sales occur on marketplaces such as Amazon, Walmart, and eBay.</p>
                <p class="text-faded">More than ever, customers expect brands to make themselves available through these online channels and small to medium sized brands that does not make themselves available in these marketplaces are destined to suffer.</p>
                <p class="text-faded">This is why WE start...</p>
                <a href="#" class="btn btn-default btn-xl">Ready to Start?</a>
            </div>
        </div>
    </div>
</section>
